<div class="jh-background lockscreen" style="height: 100%">
  <div class="jh-form form-box" id="login-box">

    <div class="jh-header header" style="width: 389px;height: 99px;background-size: 100%;margin: 0 auto; background: url(../images/logo.png) no-repeat; " translate></div>
    <form role="form" ng-submit="login()" method="post" >
      <div class="jh-gray body bg-gray">
        
        <auto:fields fields="schema" data="credentials" options="options"></auto:fields>
        <div class="jh-formerror callout callout-danger" ng-if="loginError">
          <p>{{loginError.message | translate}}</p>
        </div>
      </div>
      <div class="footer">

        <div class="jh-footer-btn"> 
          
          <button type="submit" class="jh-btnleft"  ng-disabled="joinForm.$invalid" translate></button>
          <button type="reset" class="jh-btnright"  ng-disabled="joinForm.$invalid" translate></button>

        </div>
        
        <a ng-if="settings.registrationEnabled==='true'" href='#/register' class="btn bg-yellow btn-block" translate>Or register</a>
        <a ng-repeat="provider in authProviders" ng-hide="provider.link" ng-click="socialLogin(provider)"
           class="btn btn-block btn-{{provider.class}}">
          {{provider.provider | ucfirst}}
        </a>
      </div>
    </form>
  </div>
</div>
