<div class="panel panel-default">
    <div class="panel-heading">
        广播警示柱 <span style="color:brown;">[共有 {{totalItems}} 个]</span>
        <span class="pull-right btn-group">
          <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
             <i class="fa fa-plus"></i>
          </a>
        </span>
        <span ng-hide="modalInstance.imageCheckAdd||modalInstance.imageRadioAdd">
            <span class="pull-right btn-group" ng-hide="modalInstance.imageCheckAdd||modalInstance.imageRadioAdd">
              <a href="" ng-class="{disabled:getSelectedCount()!=1}" class="btn btn-xs btn-primary" ng-click="openLightboxImageChecked()">
                查看
              </a>
              <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-warning" ng-click="renameImage()">
                重命名
              </a>
              <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-success" ng-click="titleImage()">
                编辑标题
              </a>
              <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-danger" ng-click="deleteImage()">
                删除
              </a>
            </span>
        <span class="pull-right btn-group" style="margin-right:10px;">
               <a href="" class="btn btn-xs btn-success" ui-sref="^.upload()">
                上传
                </a>
            </span>
        </span>
    </div>
    <!-- 广播警示柱列表 -->
    <!-- <div class='list-group'>
        <div ng-repeat="item in mess" class="list-group-item">
            <span class="pull-right btn-group">
                        <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: item.id})">
                            <i class="fa fa-trash-o"></i>
                        </a>
                </span>
            <h4 class="list-group-item-heading">
                <a href="" ui-sref="^.view({id: item.id})">{{item.name}}</a>
            </h4>
            <p class="list-group-item-text">{{item.address}}</p>
        </div>
        <div ng-show="!mess.length" class="list-group-item">
            <h4 class="list-group-item-heading" translate>
                There are no advertisement
            </h4>
            <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a advertisement!</p>
        </div>
        <ul uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" boundary-links="true" rotate="false" items-per-page="itemsPerPage" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" style="float: right;"></ul>
    </div> -->

    <div class="image-table-div" multi-check-group>
        <h3 class="no-image" ng-hide="hasImage">还没有数据，请<a ng-click="cancel()" ui-sref="^.upload()" ui-sref-active="active">添加</a></h3>
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
            <tr ng-repeat="row in images">
                <td data-title="'全部'">
                    <label style="background:red;height:100%;width:100%">
                    <input ng-hide=""  type="checkbox"  class="checkbox-lg " ng-model="row.checked">
                    <!-- <input ng-show="" type="radio" name="avatarRadios" ng-value="{{$index}}" class="input-lg checkbox-lg" ng-model="modalInstance.avatarRadio"> -->
                    </label>
                </td>
                <td data-title="'名称'" sortable="''" ng-switch="">
                    <strong ng-switch-default>{{row.name}}</strong>
                </td>
                <td data-title="'地址'" sortable="''" ng-switch="">
                    <span ng-switch-default>{{row.address}}</span>
                </td>
                <td data-title="'经度'" sortable="''">{{ row.lng }}</td>
                <td data-title="'纬度'" sortable="''">{{ row.lat }}</td>
                <td data-title="'状态'" sortable="''">
                    <p ng-if="row.state===true">可用</p>
                    <p ng-if="row.state===false">不可用</p>
                    <!-- {{row.state}} -->
                </td>
                <!-- <td data-title="'状态'" sortable="'created '" ng-if="row.state===false">出现故障</td> -->
                <td data-title="'语音播报'" sortable="''">{{ row.voicebroadcast }}</td>
                <td data-title="'单点广播'" sortable="''">{{ row.unicast }}</td>
                <td data-title="'摄像头ID'" sortable="''">{{ row.cameraid }}</td>

            </tr>
        </table>
        <div ng-show="images.length" ng-cloak class="mh-image-pager">
            <!-- <ul style="margin-top:0px;" uib-pagination ng-show="!tableParams.total()>tableParams.count()" class="mh-images-pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true"
                rotate="false" items-per-page="tableParams.count()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
            </ul>-->
            <ul style="margin-top:0px;" uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" boundary-links="true" rotate="false" items-per-page="itemsPerPage" previous-text="上一页" next-text="下一页" first-text="首页"
                last-text="尾页" style="float: left;"></ul>
            <!-- <div class="mh-image-add-buttons pull-right">
                <div class="btn-group mh-images-count-set">
                    <button type="button" ng-class="{'active':tableParams.count() == 10}" ng-click="pageChanged(5)" class="btn btn-default">5</button>
                    <button type="button" ng-class="{'active':tableParams.count() == 20}" ng-click="tableParams.count(20)" class="btn btn-default">20</button>
                    <button type="button" ng-class="{'active':tableParams.count() == 50}" ng-click="tableParams.count(50)" class="btn btn-default">50</button>
                    <button type="button" ng-class="{'active':tableParams.count() == 100}" ng-click="tableParams.count(100)" class="btn btn-default">100</button>
                </div>
            </div> -->
        </div>
    </div>



</div>