<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.tunnel.tunnelname}}
    <small>{{ctrl.tunnel.address}}</small>
    
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.tunnel.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <!-- <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.tunnel.id})">
        <i class="fa fa-trash-o"></i>
      </a> -->
    </span>
  </div>
  <div class="panel-body">
    <pre>隧道名称:{{tunnel.tunnelname}}</pre>
    <pre>编号:{{tunnel.tunnelnumber}}</pre>
    <pre>长度:{{ctrl.tunnel.tunnellength}}</pre>
    <pre>行别:{{ctrl.tunnel.tunnelalignment}}</pre>
    <pre>起止里程:{{ctrl.tunnel.startendmileage}}</pre>
    <pre>中心里程:{{ctrl.tunnel.centermileage}}</pre>
    <pre>守护情况:{{ctrl.tunnel.guardian}}</pre>
    <pre>地址:{{ctrl.tunnel.address}}</pre>
    <pre>所属地方派出所:{{ctrl.tunnel.localpolicestation}}</pre>
    <pre>负责人:{{ctrl.tunnel.personincharge}}</pre>
    <pre>联系电话:{{ctrl.tunnel.contactnumber}}</pre>
    <pre>所属机构:{{ctrl.tunnel.affiliatedinstitution}}</pre>
    <pre>经度:{{ctrl.tunnel.lng}}</pre>
    <pre>纬度:{{ctrl.tunnel.lat}}</pre>
    <pre>说明:{{ctrl.tunnel.explain}}</pre>
    <pre>备注:{{ctrl.tunnel.remark}}</pre>
    

  </div>
</div>
