<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.monitoring.DeviceName}}
        <small>{{ctrl.monitoring.Address}}</small>
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.monitoring.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.monitoring.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    </div>
    <div class="panel-body">
        <!-- <pre>{{ctrl.monitoring | json}}</pre> -->
        <p>编号:{{ctrl.monitoring.Number}}</p>
        <p>监控设备名称:{{ctrl.monitoring.DeviceName}}</p>
        <p>监控部位:{{ctrl.monitoring.Position}}</p>
        <p>接入部门:{{ctrl.monitoring.AccessSector}}</p>
        <p>地址:{{ctrl.monitoring.Address}}</p>
        <p>所属地方派出所:{{ctrl.monitoring.LocalPoliceStation}}</p>
        <p>管理部门:{{ctrl.monitoring.AdministrativeDepartment}}</p>
        <p>负责人:{{ctrl.monitoring.PersonCharge}}</p>
        <p>联系电话:{{ctrl.monitoring.ContactNumber}}</p>
        <p>用户名:{{ctrl.monitoring.UserName}}</p>
        <p>密码:{{ctrl.monitoring.Password}}</p>
        <p>端口号:{{ctrl.monitoring.PortNumber}}</p>
        <p>通道号:{{ctrl.monitoring.ChannelNumber}}</p>
        <p>调用类:{{ctrl.monitoring.CallClass}}</p>
        <p>经度:{{ctrl.monitoring.longitude}}</p>
        <p>纬度:{{ctrl.monitoring.Latitude}}</p>
        <p>所属机构:{{ctrl.monitoring.AffiliatedInstitution}}</p>
    </div>
</div>