<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.emergencyaccess.Name}}
        <small>{{ctrl.emergencyaccess.Address}}</small>
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.emergencyaccess.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.emergencyaccess.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    </div>
    <div class="panel-body">
        <!-- <pre>{{ctrl.emergencyaccess | json}}</pre> -->
        <p>名称:{{ctrl.emergencyaccess.Name}}</p>
        <p>中心里程:{{ctrl.emergencyaccess.CenterMileage}}</p>
        <p>行别:{{ctrl.emergencyaccess.DoOther}}</p>
        <p>地址:{{ctrl.emergencyaccess.Address}}</p>
        <p>所属地方派出所:{{ctrl.emergencyaccess.LocalPoliceStation}}</p>
        <p>管理部门:{{ctrl.emergencyaccess.AdministrativeDepartment}}</p>
        <p>负责人:{{ctrl.emergencyaccess.PersonCharge}}</p>
        <p>联系电话:{{ctrl.emergencyaccess.ContactNumber}}</p>
        <p>所属机构:{{ctrl.emergencyaccess.affiliatedInstitution}}</p>
        <p>经度:{{ctrl.emergencyaccess.lng}}</p>
        <p>纬度:{{ctrl.emergencyaccess.lat}}</p>
        <p>说明:{{ctrl.emergencyaccess.explain}}</p>
        <p>备注:{{ctrl.emergencyaccess.remark}}</p>
    </div>
</div>