<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.culvert.culvertnumber}}
    <small>{{ctrl.culvert.culvertname}}</small>
    
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.culvert.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.culvert.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <pre>编号:{{ctrl.culvert.culvertnumber}}</pre>
    <pre>涵洞名:{{ctrl.culvert.culvertname}}</pre>
    <pre>分类:{{ctrl.culvert.classification}}</pre>
    <pre>长度:{{ctrl.culvert.culverlength}}</pre>
    <pre>宽度:{{ctrl.culvert.culverwidth}}</pre>
    <pre>高度:{{ctrl.culvert.culverheight}}</pre>
    <pre>半径:{{ctrl.culvert.culverradius}}</pre>
    <pre>中心里程:{{ctrl.culvert.centermileage}}</pre>
    <pre>功能:{{ctrl.culvert.culverfunction}}</pre>
    <pre>是否积水:{{ctrl.culvert.istherewater}}</pre>
    <pre>行别:{{ctrl.culvert.crossalignment}}</pre>
    <pre>守护情况:{{ctrl.culvert.guardian}}</pre>
    <pre>地址:{{ctrl.culvert.address}}</pre>
    <pre>所属地方派出所:{{ctrl.culvert.localpolicestation}}</pre>
    <pre>负责人:{{ctrl.culvert.personincharge}}</pre>
    <pre>联系电话:{{ctrl.culvert.contactnumber}}</pre>
    <pre>所属机构:{{ctrl.culvert.affiliatedinstitution}}</pre>
    <pre>经度:{{ctrl.culvert.lng}}</pre>
    <pre>纬度:{{ctrl.culvert.lat}}</pre>
    <pre>说明:{{ctrl.culvert.explain}}</pre>
    <pre>备注:{{ctrl.culvert.remark}}</pre>

  </div>
</div>
