<div class="panel panel-default">
    <div class="panel-heading">
        护路宣传点位<span style="color:brown;">[共有 {{totalItemss}} 个]</span>
        <span class="pull-right btn-group">
          <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
             <i class="fa fa-plus"></i>
          </a>
        </span>
    </div>
    <!-- 广播警示柱列表 -->
    <div class='list-group'>
        <div ng-repeat="item in mess" class="list-group-item">
            <span class="pull-right btn-group">
                        <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: item.id})">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: item.id})">
                            <i class="fa fa-trash-o"></i>
                        </a>
                </span>
            <h4 class="list-group-item-heading">
                <a href="" ui-sref="^.view({id: item.id})">{{item.name}}</a>
            </h4>
            <p class="list-group-item-text">{{item.address}}</p>
        </div>
        <div ng-show="!mess.length" class="list-group-item">
            <h4 class="list-group-item-heading" translate>
                There are no apropagandapoint
            </h4>
            <p class="list-group-item-text" translate>Click <a href="" ui-sref="^.add">here</a> to add a apropagandapoint!</p>
        </div>
        <ul uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" boundary-links="true" rotate="false" items-per-page="itemsPerPage" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" style="float: right;"></ul>
    </div>
</div>