<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.advertisement.name}}
        <small>{{ctrl.advertisement.address}}</small>
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.advertisement.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.advertisement.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    </div>
    <div class="panel-body">
        <!-- <pre>{{ctrl.advertisement | json}}</pre> -->
        <p>广告警示柱名：{{ctrl.advertisement.name}}</p>
        <p>所在地址：{{ctrl.advertisement.address}}</p>
        <p>经度：{{ctrl.advertisement.lng}}</p>
        <p>纬度：{{ctrl.advertisement.lat}}</p>
        <p ng-if="ctrl.advertisement.state===true">现在状态：正常</p>
        <p ng-if="ctrl.advertisement.state===false">现在状态：不正常</p>
        <p>语音播报：{{ctrl.advertisement.voicebroadcast}}</p>
        <p>单点广播：{{ctrl.advertisement.unicast}}</p>
        <p>摄像头ID：{{ctrl.advertisement.cameraid}}</p>
    </div>
</div>