<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.index" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.basestation.name}}
        <small>{{ctrl.basestation.address}}</small>

        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.basestation.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.basestation.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    </div>
    <div class="panel-body">
        <pre>铁路名:{{ctrl.basestation.name}}</pre>
        <pre>分类:{{ctrl.basestation.address}}</pre>
        <pre>负责人:{{ctrl.basestation.personincharge}}</pre>
        <pre>联系电话:{{ctrl.basestation.contactnumber}}</pre>
        <pre>所属机构:{{ctrl.basestation.affiliatedinstitution}}</pre>
        <pre>经度:{{ctrl.basestation.lng}}</pre>
        <pre>纬度:{{ctrl.basestation.lat}}</pre>
        <pre>备注:{{ctrl.basestation.remark}}</pre>
    </div>
</div>