<section admin-header class="content-header" title="{{ '重点场所'  }}" sub-title="{{ '在这里管理重点场所信息!'  }}">
</section>
<section class="content">
  <div style="display: flex">
    <div>
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="item in items | orderBy: 'id'" ng-class="kpCtrl.selectedItemId == item.id ? 'active': '' "
            ng-click="kpCtrl.chooseItem(item)">
          <a href="">{{item.category}}</a>
        </li>
      </ul>
    </div>
    <div style="width: 10px"/>
    <div style="flex-grow: 1" ui-view></div>
  </div>
</section>
