<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.keyPlace.name}}
        <small>{{ctrl.keyPlace.address}}</small>
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.keyPlace.id})">
        <i class="fa fa-pencil"></i>
      </a>
     <!-- 
      -->
    </span>
    </div>
    <div class="panel-body">
        <!-- <pre>{{ctrl.fenceinfo | json}}</pre> -->

        <p>名称:{{ctrl.keyPlace.name}}</p>
        <p>地址:{{ctrl.keyPlace.address}}</p>
        <p>人数:{{ctrl.keyPlace.peoplenumber}}</p>
        <p>负责人:{{ctrl.keyPlace.personincharge}}</p>
        <p>负责人职务:{{ctrl.keyPlace.personPost}}</p>
        <p>危险级别:{{ctrl.keyPlace.hazardlevel}}</p>
        <p>所属机构:{{ctrl.keyPlace.affiliatedinstitution}}</p>
        <p>是否签订安全协议:{{ctrl.keyPlace.securityProtocol}}</p>
        <p>有危害铁路史人数:{{ctrl.keyPlace.dangerousRailwayNum}}</p>
        <p>在校学生危害铁路或发生事故史:{{ctrl.keyPlace.stuDangerousRail}}</p>
        <p>区域:{{ctrl.keyPlace.region}}</p>
        <p>说明:{{ctrl.keyPlace.explain}}</p>
        <p>联系电话:{{ctrl.keyPlace.contactnumber}}</p>
        <p>类别:{{ctrl.keyPlace.category}}</p>
        <p>危险级别:{{ctrl.keyPlace.hazardlevel}}</p>
        <p>经度:{{ctrl.keyPlace.lng}}</p>
        <p>纬度:{{ctrl.keyPlace.lat}}</p>
        <p>备注:{{ctrl.keyPlace.remark}}</p>

    </div>
</div>