<header class="header" style="position: fixed">
  <a class="logo" href="/">{{ settings.appName }}</a>
  <navbar-no-menu></navbar-no-menu>
</header>

<div class="container" style=" margin-right: 15px; padding:0px; display: flex;align-items: center;position: absolute;right: 0px; top: 100px;z-index: 1000; width: auto; height: 510px;" >

  <div ng-click="shownine = !shownine;" style="width: 30px; background-color: #0a6ebd;height: fit-content; padding: 10px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
    <p style="color: white; text-align: center" class="text-center">点我打开九大模块</p>
  </div>

  <div ng-if="shownine" style="display: flex;flex-direction: column;width: 120px; padding: 15px 15px 0px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; background-color: #0a6ebd">
    <div ng-repeat="box in boxes | orderBy:['-quantity', 'name']" style="">
      <div class="small-box" style="background-color: #00c0ef" ui-sref="{{ box.href }}">
        <div class="inner">
          <span>{{ box.name | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: flex;position: absolute; left: 60px; top: 60px; z-index: 1000;">
  <div class="dropdown" ng-controller="RoadMapFilterCtrl">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Markers
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dLabel">
      <div style="width: 500px; padding: 10px; display: flex; flex-direction: column;" ng-controller="RoadMapFilterCtrl">
        <div style="display: flex;">
          <strong style="width: 50px;">部位：</strong>
          <div style="display: flex">
            <div class="checkbox-inline" ng-repeat="item in keySiteFilters">
              <label><input type="checkbox" ng-model="item.checked" ng-click="addKeySiteFilterItem(item)">{{ item.category }}</label>
            </div>
          </div>
        </div>
        <div style="display: flex; ">
          <strong>场所：</strong>
          <div class="checkbox-inline" ng-repeat="item in keyPlaceFiltes">
            <label><input type="checkbox" ng-model="item.checked" ng-click="addKeyPlaceFilterItem(item)">{{ item.category }}</label>
          </div>
        </div>

        <div style="display: flex; ">
          <strong>其他：</strong>
          <div class="checkbox-inline" ng-repeat="item in otherFilters">
            <label><input type="checkbox" ng-model="item.checked" ng-click="addOtherFilterItem(item)">{{ item.category }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 线路 -->
  <div class="dropdown">
    <button id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      线路地图信息
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu " style="width: 500px; padding: 10px;" aria-labelledby="dLabel2">
      <div class="list-group">
        <div class="checkbox-inline" ng-repeat="item in railways">
          <label><input type="checkbox" ng-model="item.checked" ng-click="selectRailwayRouteMap(item)">{{ item.rodename }}</label>
        </div>
      </div>

      <div class="list-group">
        <div class="checkbox-inline">
          <label><input type="radio" ng-model="linesCheckedType" value="1" ng-checked="true" ng-change="onLinesSelect(linesCheckedType)">全选</label>
        </div>
        <div class="checkbox-inline">
          <label><input type="radio" ng-model="linesCheckedType" value="0" ng-change="onLinesSelect(linesCheckedType)">全不选</label>
        </div>
        <div class="checkbox-inline">
          <label><input type="radio" ng-model="linesCheckedType" value="-1" ng-change="onLinesSelect(linesCheckedType)">反选</label>
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button id="dLabel3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      行政区域地图信息
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" style="width: 500px; padding: 10px;" aria-labelledby="dLabel3">
      <div class="checkbox-inline" ng-repeat="item in affiliatedInstitutions">
        <label><input type="checkbox" ng-model="item.checked" ng-click="selectAdminAreaMap(item)">{{ item.affiliatedInstitution }}</label>
      </div>
    </div>
  </div>

  <button type="button" ng-click="showAbove = !showAbove">卫星</button>
</div>

<div class="panel panel-default" style="margin-top: 50px;">
  <div class="panel-body" style="padding: 0px;">
        <!--<div class="panel-heading">-->
        <!--<span> Zoom: {{ center.zoom }}; Center: {{ center.lat }} (lat) , {{ center.lon }} (lon)</span>-->
        <!--</div>-->
      <openlayers custom-layers="true" ol-center="center" ol-defaults="defaults" height="100%">
        <ol-layer ol-layer-properties="below_wms" z-index="2" ></ol-layer>
        <ol-layer ol-layer-properties="above_wms" z-index="3" ng-if="showAbove"></ol-layer>
        <!-- <ol-layer ol-layer-properties="kml"></ol-layer> -->
        <ol-path ng-repeat="path in paths" message="{{ path.message }}" coords="{{ path.coords }}"
                 ol-style="path.style" z-index="5"></ol-path>
        <ol-line ng-repeat="line in lines" message="{{ line.message }}" coords="{{ line.coords }}"
                 ol-style="line.style" z-index="6"></ol-line>
        <ol-marker ng-repeat="marker in markers" ol-marker-properties="marker" z-index="7" style="color:red;">
        </ol-marker>
      </openlayers>
  </div>
</div>
