<div class="panel panel-default">
    <div class="panel-heading">
        信息列表<span style="color:brown;">[共有 {{totalItems}} 个]</span>
        <span class="pull-right btn-group" ng-hide="modalInstance.imageCheckAdd||modalInstance.imageRadioAdd">
          <!-- <a href="" class="btn btn-xs btn-primary" ui-sref="^.add()">
              <i class="fa fa-add">新增</i>
            </a> -->
          <!-- <a href="" class="btn btn-xs btn-primary" ng-click="openLightboxImageChecked()">
            查看
          </a> -->
          <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-success" ng-click="editItem()">
            编辑
          </a>
          <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-danger" ng-click="deleteItems()">
            删除
          </a>
          <a href="" class="btn btn-xs btn-success" ui-sref="^.add()"><i class="fa fa-plus"> 新增 </i></a>
          <a href="" class="btn btn-xs btn-success" ui-sref="^.map()"><i class="fa "> 查看地图 </i></a>
        </span>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">道口名称：</label>
                <input type="text" ng-model="searchConditions.levelcrossname" class="form-control" id="exampleInputName2" placeholder="道口名称">
            </div>

            <!-- <div class="form-group">
                <label for="exampleInputEmail2">管理部门：</label> -->
            <!-- <input type="text" ng-model="searchConditions.AdministrativeDepartment" class="form-control" id="exampleInputEmail2" placeholder="管理部门"> -->
            <!-- <select class="form-control" ng-model="searchConditions.AdministrativeDepartment" id="exampleInputEmail2" placeholder="管理部门">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
            </div> -->
            <button type="submit" class="btn btn-default" ng-click="startSearch()"><i class="fa fa-search"> 查询 </i></button>
        </form>
    </div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in LevelCrossings">
            <td data-title="''" class="text-center">
                <input ng-value="{{row.id}}" multi-check type="checkbox" ng-change="addEditItem(row)" class=" checkbox-lg" ng-model="row.checked">
            </td>
             <td data-title="'名称'" ng-switch="row.rename" ng-form="levelcrossname">
              <a href="" ui-sref="^.view({id: row.id})">
                <strong ng-switch-default>{{row.levelcrossname}}</strong>
                </a>
            </td>
            <td data-title="'中心里程'" ng-switch="row.titleEdit" ng-form="centermileage">
                <span ng-switch-default>{{row.centermileage}}</span>
            </td>
            <td data-title="'道口性质'" ng-switch="row.rename" ng-form="crossproperty">
                <strong ng-switch-default>{{row.crossproperty}}</strong>
            </td>
            <td data-title="'行别'" ng-switch="row.titleEdit" ng-class="title.$dirty ? 'bg-warning' : ''" ng-form="crossalignment">
                <span ng-switch-default>{{row.crossalignment}}</span>
            </td>
            <td data-title="'守护情况'" ng-switch="row.rename" ng-form="guardian">
                <strong ng-switch-default>{{row.guardian}}</strong>
            </td>
            <td data-title="'检查情况'" ng-switch="row.titleEdit" ng-form="inspectionstatus">
                <span ng-switch-default>{{row.inspectionstatus}}</span>
            </td>
            <td data-title="'有无限高'" ng-switch="row.titleEdit" ng-form="infinitelyhigh">
                <span ng-switch-default>{{row.infinitelyhigh}}</span>
            </td>
            <td data-title="'所属地方派出所'" ng-switch="row.titleEdit" ng-form="address">
                <span ng-switch-default>{{row.address}}</span>
            </td>
            <td data-title="'负责人'" ng-switch="row.titleEdit" ng-form="personincharge">
                <span ng-switch-default>{{row.personincharge}}</span>
            </td>
            <td data-title="'联系电话'" ng-switch="row.titleEdit" ng-form="contactnumber">
                <span ng-switch-default>{{row.contactnumber}}</span>
            </td>
            <td data-title="'所属机构'" ng-switch="row.titleEdit" ng-form="affiliatedinstitution">
                <span ng-switch-default>{{row.affiliatedinstitution}}</span>
            </td>
            <td data-title="'备注'" ng-switch="row.titleEdit" ng-form="remark">
                <span ng-switch-default>{{row.remark}}</span>
            </td>
        </tr>
    </table>
</div>
<div ng-show="tableParams.total()" ng-cloak class=" mh-image-pager>
    <ul style=" margin-top:0px; " uib-pagination ng-show="{{tableParams.total()> tableParams.count()}}" class="mh-images-pagination pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true" rotate="false" items-per-page="tableParams.count()"
    previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
    </ul>
</div>
<!-- <div ng-show="tableParams.total()" ng-cloak class="mh-image-pager">
    <ul style="margin-top:0px;" uib-pagination ng-show="tableParams.total()>tableParams.count()" class="mh-images-pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true"
        rotate="false" items-per-page="tableParams.count()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
    </ul>
</div> -->