<div class="panel panel-default">
    <div class="panel-heading">
        信息列表<span style="color:brown;">[共有 {{totalItems}} 个]</span>
        <span class="pull-right btn-group" ng-hide="modalInstance.imageCheckAdd||modalInstance.imageRadioAdd">
          <!-- <a href="" class="btn btn-xs btn-primary" ui-sref="^.add()">
              <i class="fa fa-add">新增</i>
            </a> -->
          <!-- <a href="" class="btn btn-xs btn-primary" ng-click="openLightboxImageChecked()">
            查看
          </a> -->
          <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-success" ng-click="editItem()">
            编辑
          </a>
          <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-danger" ng-click="deleteItems()">
            删除
          </a>
          <a href="" class="btn btn-xs btn-success" ui-sref="^.add()"><i class="fa fa-plus"> 新增 </i></a>
          <a href="" class="btn btn-xs btn-success" ui-sref="^.map()"><i class="fa "> 查看地图 </i></a>
          <a href="" class="btn btn-xs btn-success" ui-sref="^.line()"><i class="fa "> 线路分配 </i></a>
        </span>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">车站名称:</label>
                <input type="text" ng-model="searchConditions.StationName" class="form-control" id="exampleInputName2" placeholder="车站名称">
            </div>

            <!-- <div class="form-group">
                <label for="exampleInputEmail2">管理部门：</label> -->
            <!-- <input type="text" ng-model="searchConditions.AdministrativeDepartment" class="form-control" id="exampleInputEmail2" placeholder="管理部门"> -->
            <!-- <select class="form-control" ng-model="searchConditions.AdministrativeDepartment" id="exampleInputEmail2" placeholder="管理部门">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
            </div> -->
            <button type="submit" class="btn btn-default" ng-click="startSearch()"><i class="fa fa-search"> 查询 </i></button>
        </form>
    </div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in stations">
            <td data-title="''" class="text-center">
                <input ng-value="{{row.id}}" multi-check type="checkbox" ng-change="addEditItem(row)" class=" checkbox-lg" ng-model="row.checked">
            </td>
             <td data-title="'车站名称'" ng-switch="row.StationName" ng-form="StationName">
                <a href="" ui-sref="^.view({id: row.id})">
                    <strong ng-switch-default>{{row.StationName}}</strong>
                </a>
            </td>
            <td data-title="'车站等级'" ng-switch="row.titleEdit" ng-form="Rank">
                <span ng-switch-default>{{row.Rank}}</span>
            </td>
            <td data-title="'车站性质'" ng-switch="row.rename" ng-form="naturen">
                <strong ng-switch-default>{{row.naturen}}</strong>
            </td>
            <td data-title="'是否有高铁'" ng-switch="row.titleEdit" ng-class="title.$dirty ? 'bg-warning' : ''" ng-form="Highspeed_rail_station">
                <span ng-switch-default>{{row.Highspeed_rail_station}}</span>
            </td>
            <td data-title="'中心里程'" ng-switch="row.rename" ng-form="CenterMileage">
                <strong ng-switch-default>{{row.CenterMileage}}</strong>
            </td>
            <td data-title="'隶属铁路局'" ng-switch="row.titleEdit" ng-form="administration">
                <span ng-switch-default>{{row.administration}}</span>
            </td>
            <td data-title="'所属地方派出所'" ng-switch="row.titleEdit" ng-form="Address">
                <span ng-switch-default>{{row.Address}}</span>
            </td>
            <td data-title="'负责人'" ng-switch="row.titleEdit" ng-form="PersonInCharge">
                <span ng-switch-default>{{row.PersonInCharge}}</span>
            </td>
            <td data-title="'联系电话'" ng-switch="row.titleEdit" ng-form="ContactNumber">
                <span ng-switch-default>{{row.ContactNumber}}</span>
            </td>
            <td data-title="'经度'" ng-switch="row.titleEdit" ng-form="Longitudelatitude">
                <span ng-switch-default>{{row.Longitudelatitude}}</span>
            </td>
            <td data-title="'纬度'" ng-switch="row.titleEdit" ng-form="Latitude">
                <span ng-switch-default>{{row.Latitude}}</span>
            </td>
            <td data-title="'所属机构'" ng-switch="row.titleEdit" ng-form="affiliatedInstitution">
                <span ng-switch-default>{{row.affiliatedInstitution}}</span>
            </td>
            <td data-title="'备注'" ng-switch="row.titleEdit" ng-form="Remarks">
                <span ng-switch-default>{{row.Remarks}}</span>
            </td>
        </tr>
    </table>
</div>
<div ng-show="tableParams.total()" ng-cloak class=" mh-image-pager>
    <ul style=" margin-top:0px; " uib-pagination ng-show="{{tableParams.total()> tableParams.count()}}" class="mh-images-pagination pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true" rotate="false" items-per-page="tableParams.count()"
    previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
    </ul>
</div>
<!-- <div ng-show="tableParams.total()" ng-cloak class="mh-image-pager">
    <ul style="margin-top:0px;" uib-pagination ng-show="tableParams.total()>tableParams.count()" class="mh-images-pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true"
        rotate="false" items-per-page="tableParams.count()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
    </ul>
</div> -->