<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.keypersion.name}}
        <small>{{ctrl.keypersion.contactnumber}}</small>
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.keypersion.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.keypersion.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    </div>
    <div class="panel-body">
        <!-- <pre>{{ctrl.keypersion | json}}</pre> -->
        <p>重点人名:{{ctrl.keypersion.name}}</p>
        <p ng-if="ctrl.keypersion.gender===true">性别:男</p>
        <p ng-if="ctrl.keypersion.gender===false">性别:女</p>
        <p>年龄:{{ctrl.keypersion.age}}</p>
        <p>身高:{{ctrl.keypersion.height}}</p>
        <p>体重:{{ctrl.keypersion.weight}}</p>
        <p>职业:{{ctrl.keypersion.unicast}}</p>
        <p>身份证号:{{ctrl.keypersion.idnumber}}</p>
        <p>联系电话:{{ctrl.keypersion.contactnumber}}</p>
        <p>现居住地:{{ctrl.keypersion.residencenow}}</p>
        <p>家庭人数:{{ctrl.keypersion.familysize}}</p>
        <p>家庭成员1:{{ctrl.keypersion.familymemberone}}</p>
        <p>家庭成员2:{{ctrl.keypersion.familymembertwo}}</p>
        <p>家庭住址:{{ctrl.keypersion.familyaddress}}</p>
        <p>家庭联系电话:{{ctrl.keypersion.familycontactnumber}}</p>
        <p>备注:{{ctrl.keypersion.remark}}</p>
    </div>
</div>