<div class="panel panel-default">
    <div class="panel-heading">
        安检设备<span style="color:brown;">[共有 {{totalItems}} 个]</span>
        <span class="pull-right btn-group" ng-hide="modalInstance.imageCheckAdd||modalInstance.imageRadioAdd">
              <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-success" ng-click="editItem()">
                编辑
              </a>
              <a href="" ng-class="{disabled:getSelectedCount()<=0}" class="btn btn-xs btn-danger" ng-click="deleteItems()">
                删除
              </a>
              <a href="" class="btn btn-xs btn-success" ui-sref="^.add()"><i class="fa fa-plus"> 新增 </i></a>
              <a href="" class="btn btn-xs btn-success" ui-sref="^.map()"><i class="fa "> 查看地图 </i></a>
              <a href="" class="btn btn-xs btn-success" ui-sref="^.line()"><i class="fa "> 线路分配 </i></a>
            </span>
    </div>

    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">安检设备名称:</label>
                <input type="text" ng-model="searchConditions.Name" class="form-control" id="exampleInputName2" placeholder="设备名称">
            </div>

            <!-- <div class="form-group">
                <label for="exampleInputEmail2">管理部门：</label> -->
            <!-- <input type="text" ng-model="searchConditions.AdministrativeDepartment" class="form-control" id="exampleInputEmail2" placeholder="管理部门"> -->
            <!-- <select class="form-control" ng-model="searchConditions.AdministrativeDepartment" id="exampleInputEmail2" placeholder="管理部门">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
            </div> -->
            <button type="submit" class="btn btn-default" ng-click="startSearch()"><i class="fa fa-search"> 查询 </i></button>
        </form>
    </div>
    <!-- 数据列表 table实现 -->
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="item in securityEquipments">
            <td data-title="''" style="vertical-align:middle" class="text-center">
                <input multi-check type="checkbox" ng-value="{{item.id}}" ng-change="addEditItem(item)" class=" checkbox-lg" ng-model="item.checked">
            </td>
            <td data-title="'名称'" class="text-center" ng-switch="item.rename" style="vertical-align:middle">
                <a href="" ui-sref="^.view({id: item.id})">
                    <strong ng-switch-default>{{item.Name}}</strong>
                </a>
            </td>
            <td data-title="'地址'" ng-switch="item.titleEdit" class="text-center" style="vertical-align:middle" ng-form="Position">
                <span ng-switch-default>{{item.Position}}</span>
            </td>

            <td data-title="'车站'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="StationName">
                <span ng-switch-default>{{item.StationName}}</span>
            </td>

            <td data-title="'其他'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="Other">
                <span ng-switch-default>{{ item.Other }}</span>
            </td>

            <td data-title="'数量'" class="text-center" ng-switch="item.number" style="vertical-align:middle" ng-form="Number">
                <span ng-switch-default>{{item.Number}}</span>
            </td>
            <td data-title="'使用地点'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="SiteOfUse">
                <span ng-switch-default>{{item.SiteOfUse}}</span>
            </td>

            <td data-title="'所属地方派出所'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="LocalPoliceStation">
                <span ng-switch-default>{{item.LocalPoliceStation}}</span>
            </td>

            <td data-title="'管理部门'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="AdministrativeDepartment">
                <span ng-switch-default>{{item.AdministrativeDepartment}}</span>
            </td>

            <td data-title="'负责人'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="PersonCharge">
                <span ng-switch-default>{{item.PersonCharge}}</span>
            </td>

            <td data-title="'联系电话'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="ContactNumber">
                <span ng-switch-default>{{item.ContactNumber}}</span>
            </td>
            <td data-title="'所属机构'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="affiliatedInstitution">
                <span ng-switch-default>{{item.affiliatedInstitution}}</span>
            </td>
            <td data-title="'经度'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="lng">
                <span ng-switch-default>{{item.lng}}</span>
            </td>
            <td data-title="'纬度'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="lat">
                <span ng-switch-default>{{item.lat}}</span>
            </td>
            <td data-title="'说明'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="explain">
                <span ng-switch-default>{{item.explain}}</span>
            </td>
            <td data-title="'备注'" class="text-center" ng-switch="item.titleEdit" style="vertical-align:middle" ng-form="remark">
                <span ng-switch-default>{{item.remark}}</span>
            </td>
        </tr>
    </table>

</div>
<div ng-show="tableParams.total()" ng-cloak class="mh-image-pager">
    <ul style="margin-top:0px;" uib-pagination ng-show="tableParams.total()>tableParams.count()" class="mh-images-pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true"
        rotate="false" items-per-page="tableParams.count()" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
    </ul>
</div>
<!-- <div ng-show="images.length" ng-cloak class="mh-image-pager">
    <ul style="margin-top:0px;" uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" boundary-links="true" rotate="false" items-per-page="itemsPerPage" previous-text="上一页" next-text="下一页" first-text="首页"
        last-text="尾页" style="float: left;"></ul>
</div> -->
<!-- 
<div ng-show="tableParams.total()" ng-cloak class=" mh-image-pager>
  <ul style=" margin-top:0px; " uib-pagination ng-show="tableParams.total()>tableParams.count()" class="mh-images-pagination pagination" total-items="tableParams.total()" max-size="maxSize" ng-model="currentPage" ng-change="tableParams.page(currentPage)" boundary-links="true" rotate="false" items-per-page="tableParams.count()"
    previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
    </ul>
</div> -->