<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.fenceinfo.Name}}
        <small>{{ctrl.securityequipment.PersonCharge}}</small>
        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.securityequipment.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.securityequipment.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
    </div>
    <div class="panel-body">
        <!-- <pre>{{ctrl.securityequipment | json}}</pre> -->
        <p>名称：{{ctrl.securityequipment.Name}}</p>
        <p>部位：{{ctrl.securityequipment.Position}}</p>
        <p>车站：{{ctrl.securityequipment.Station}}</p>
        <p>其他：{{ctrl.securityequipment.Other}}</p>
        <p>数量：{{ctrl.securityequipment.Number}}</p>
        <p>使用地点：{{ctrl.securityequipment.SiteOfUse}}</p>
        <p>所属地方派出所：{{ctrl.securityequipment.LocalPoliceStation}}</p>
        <p>管理部门：{{ctrl.securityequipment.AdministrativeDepartment}}</p>
        <p>负责人：{{ctrl.securityequipment.PersonCharge}}</p>
        <p>联系电话：{{ctrl.securityequipment.ContactNumber}}</p>
        <p>所属机构：{{ctrl.securityequipment.AffiliatedInstitution}}</p>
    </div>
</div>