<div class="panel panel-default">
    <div class="panel-heading">
        <a href="" ui-sref="^.index" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a> {{ctrl.bridge.bridgename}}
        <small>{{ctrl.bridge.address}}</small>

        <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.bridge.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <!-- <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.bridge.id})">
        <i class="fa fa-trash-o"></i>
      </a> -->
    </span>
    </div>
    <div class="panel-body">
        <pre>桥梁编号:{{ctrl.bridge.brdgenumber}}</pre>
        <pre>桥梁名称:{{ctrl.bridge.bridgename}}</pre>
        <pre>桥梁分类:{{ctrl.bridge.bridgeclass}}</pre>
        <pre>桥梁结构:{{ctrl.bridge.bridgestructure}}</pre>
        <pre>桥梁材质:{{ctrl.bridge.bridgematerial}}</pre>
        <pre>长度:{{ctrl.bridge.brgdgelength}}</pre>
        <pre>高度:{{ctrl.bridge.bridgehight}}</pre>
        <pre>行别:{{ctrl.bridge.bridgealignment}}</pre>
        <pre>起始里程:{{ctrl.bridge.startendmileage}}</pre>
        <pre>中心里程:{{ctrl.bridge.centermileage}}</pre>
        <pre>是否公路铁路一起用:{{ctrl.bridge.railwayhighwaypublic}}</pre>
        <pre>跨越公路:{{ctrl.bridge.crosshighway}}</pre>
        <pre>跨越水系:{{ctrl.bridge.crosswatersystem}}</pre>
        <pre>跨越山涧:{{ctrl.bridge.crossbrooks}}</pre>
        <pre>跨越其他:{{ctrl.bridge.crossother}}</pre>
        <pre>守护:{{ctrl.bridge.guardian}}</pre>
        <pre>地址:{{ctrl.bridge.address}}</pre>
        <pre>所属地方派出所:{{ctrl.bridge.localpolicestation}}</pre>
        <pre>管理部门:{{ctrl.bridge.admimdepartment}}</pre>
        <pre>负责人:{{ctrl.bridge.personincharge}}</pre>
        <pre>联系电话:{{ctrl.bridge.contactnumber}}</pre>
        <pre>所属机构:{{ctrl.bridge.affiliatedinstitution}}</pre>
        <pre>经度:{{ctrl.bridge.lng}}</pre>
        <pre>纬度:{{ctrl.bridge.lat}}</pre>
        <pre>说明:{{ctrl.bridge.explain}}</pre>
        <pre>备注:{{ctrl.bridge.remark}}</pre>
    </div>
</div>